@import url(http://fonts.googleapis.com/css?family=PT+Mono);
@import url(http://fonts.googleapis.com/css?family=Great+Vibes);

/* Global Reset */

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  background-color: white;
  font: 13.34px helvetica, arial, clean, sans-serif;
  *font-size: medium;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
}

h1 {
  margin-bottom: 1em;
}

p {
  margin: 1em 0;
}

a {
  color: #00a;
}

a:hover {
  color: black;
}

a:visited {
  color: #a0a;
}

table {
  font-size: inherit;
  font: 100%;
}

ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
  font-size: 150%;
  font-family: "PT Mono", monospace;
}

  ul.posts li {
    line-height: 1.75em;
  }

  ul.posts span {
    color: #aaa;
  }

.site {
  font-size: 150%;
  text-align: justify;
  width: 70%;
  margin: 3em auto 2em auto;
  line-height: 1.5em;
}

.site .heading {
  font-family: 'PT Mono', monospace;
  font-size: 250%;
  font-weight: normal;
  color: #333737;
  text-shadow: 4px 4px 3px rgba(0,0,0,0.1);
}

.site .heading a:link {
	color: #333737;
	text-decoration: none;
}

.site .heading a:visited {
	color: #333737;
}

.site .heading a:hover {
	color: #0000FF;  
}

.site .heading a:active {
	color: #FF00FF;
}

.site .subtitle {
	font-family: 'Great Vibes', cursive;
  font-size: 30px;
  font-weight: normal;
  color: #333737;
}

#post {
}

  #post h1 {
	font-family: 'PT Mono', monospace;
	font-weight: bold;
	font-size: 175%;
	color: #333737;
	text-shadow: 4px 4px 3px rgba(0,0,0,0.1);
  }
  
#post h2 {
	font-family: 'PT Mono', monospace;
	font-weight: bold;
	font-size: 125%;
	margin-bottom: 15px;
	margin-top: 15px;
  }

#post h3 {
  font-family: 'PT Mono', monospace;
  font-weight: bold;
  font-size: 100%;
  margin-bottom: 15px;
  margin-top: 15px;
  background-color: #eef;
  }

  #post pre {
    border: 1px solid #ddd;
    background-color: #eef;
    padding: 0 .4em;
  }

  #post ul,
  #post ol {
	margin: 0px 30px;
	/*font-family: 'PT Mono', monospace;*/
  }

  #post code {
  	font-family: 'PT Mono', monospace;
    background-color: #eef;
    font-size: 100%;
    padding: 4px;
  }

    #post pre code {
      border: none;
    }
	
#post p em {
	font-family: 'PT Mono', monospace;
	font-size: 100%;
	font-weight: normal;
}

#post .letter {
	font-family: 'Great Vibes', cursive;
	font-size: 200%;
	font-weight: normal;
	text-shadow: 4px 4px 3px rgba(0,0,0,0.1);
}

#post p strong {
	font-family: 'PT Mono', monospace;
	font-size: 100%;
	font-weight: normal;
	background-color: #eef;
	padding: 4px;
}

  /* terminal */

  #post pre.terminal {
    border: 1px solid black;
    background-color: #333;
    color: white;
  }

  #post pre.terminal code {
    background-color: #333;
  }

#related {
  margin-top: 2em;
}

  #related h2 {
    margin-bottom: 1em;
  }

.anim-repeater {
  -webkit-animation-duration: 2s;
  -webkit-animation-delay: 3s; /*does not control the delay between repeats*/
  -webkit-animation-iteration-count: infinite;
}

.fg-color1 {
  color: #eef;
}
.bg-color1 {
  background-color: #eef;
}
.fg-black {
  color: black;
}
.bg-black {
  background-color: black;
}

/*
.my-votd {
  width: 512px;
  height: 288px;
  text-align: center;
}
*/

div.my-votd iframe{
    display: block;
    margin: 0 auto;
}
