@import url(http://fonts.googleapis.com/css?family=PT+Mono);
@import url(http://fonts.googleapis.com/css?family=Great+Vibes);
@import url(http://fonts.googleapis.com/css?family=Roboto);

/* Global Reset */
 * {
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
}
body {
    background-color: white;
    background-image: url(../images/subtlepatterns.com/crossword.png);
    font-family:'Roboto', sans-serif;
    *font-size: medium;
    text-align: center;
}
h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
}
h1 {
    margin-bottom: 1em;
}
p {
    margin: 1em 0;
}
a {
    color: #00a;
}
a:hover {
    color: black;
}
a:visited {
    color: #a0a;
}
table {
    font-size: inherit;
    font: 100%;
}
.site {
    font-size: 150%;
    text-align: justify;
    width: 70%;
    margin: 3em auto 2em auto;
    line-height: 1.5em;
}
.site .heading {
    font-family:'PT Mono', monospace;
    font-size: 250%;
    font-weight: normal;
    color: #333737;
    text-shadow: 4px 4px 3px rgba(0, 0, 0, 0.1);
    height: 100%;
}
.site .heading a:link {
    color: #333737;
    text-decoration: none;
}
.site .heading a:visited {
    color: #333737;
}
.site .heading a:hover {
    color: #0000FF;
}
.site .heading a:active {
    color: #FF00FF;
}
.site .heading .title {
    display: inline-block;
    vertical-align: text-top;
    text-align: left;
}
.site .heading .thumb {
    margin-right: 10px;
}
.site .heading .thumb img {
    height: 100px;
    border: 1px solid;
    border-radius: 25px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}
.index .votd img {
    width: 300px;
    height: 250px;
}
.site .subtitle {
    font-family:'Great Vibes', cursive;
    font-size: 30px;
    font-weight: normal;
    color: #333737;
}
#post {
}
#post h1 {
    font-family:'PT Mono', monospace;
    font-weight: bold;
    font-size: 175%;
    color: #333737;
    text-shadow: 4px 4px 3px rgba(0, 0, 0, 0.1);
}
#post h2 {
    font-family:'PT Mono', monospace;
    font-weight: bold;
    font-size: 125%;
    margin-bottom: 15px;
    margin-top: 15px;
}
#post h3 {
    font-family:'PT Mono', monospace;
    font-weight: bold;
    font-size: 100%;
    margin-bottom: 15px;
    margin-top: 15px;
    background-color: #eef;
}
#post pre {
    border: 1px solid #ddd;
    background-color: #eef;
    padding: 0 .4em;
}
#post ul, #post ol {
    margin: 0px 50px;
    /*font-family: 'PT Mono', monospace;*/
}
#post code {
    font-family:'PT Mono', monospace;
    background-color: #eef;
    font-size: 100%;
    padding: 4px;
}
#post pre code {
    border: none;
}
#post p em {
    font-family:'PT Mono', monospace;
    font-size: 100%;
    font-weight: normal;
}
#post .letter {
    font-family:'Great Vibes', cursive;
    font-size: 200%;
    font-weight: normal;
    text-shadow: 4px 4px 3px rgba(0, 0, 0, 0.1);
}
#post p strong {
    font-family:'PT Mono', monospace;
    font-size: 100%;
    font-weight: normal;
    background-color: #eef;
    padding: 4px;
}
/* terminal */
 #post pre.terminal {
    border: 1px solid black;
    background-color: #333;
    color: white;
}
#post pre.terminal code {
    background-color: #333;
}
#related {
    margin-top: 2em;
}
#related h2 {
    margin-bottom: 1em;
}
.anim-repeater {
    -webkit-animation-duration: 2s;
    -webkit-animation-delay: 3s;
    /*does not control the delay between repeats*/
    -webkit-animation-iteration-count: infinite;
}
.fg-color1 {
    color: #eef;
}
.bg-color1 {
    background-color: #eef;
}
.fg-black {
    color: black;
}
.bg-black {
    background-color: black;
}
.fg-google-plus {
    color: #dd4b39;
}
.fg-facebook {
    color: #3b5998;
}
.fg-twitter {
    color: #00aced;
}
.fg-pinterest {
    color: #cb2027;
}
.fg-github {
    color: #171515;
}
.fg-bitbucket {
    color: #205081;
}
.fg-flickr {
    color: #fc329b;
}
.fg-rss {
    color: #ff6600;
}
.static-link {
}
.static-link a:hover {
    color: inherit;
}
.static-link a:visited {
    color: inherit;
}
.social-media {
    padding-top: 5px;
    padding-bottom: 20px;
    font-size: 80%;
    text-align: left;
}
.social-media i {
    padding-right: 5px;
}
div.my-inline-left {
    margin-left: 0px;
    margin-right: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
}
div.my-inline-right {
    margin-left: 20px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.my-div-top {
    vertical-align: text-top;
    line-height: normal;
    padding-bottom: 10px;
    height: 100%;
}
.my-span-right {
    text-align: right;
    margin-right: 0;
    float: right;
}
.my-post-card {
    display: inline;
    font-size: medium;
}
.index {
    text-align: left;
}
.index-left {
    text-align: left;
}
.index-left a {
    font-family:'PT Mono', monospace;
    /*font-weight: bold;*/
    font-size: 100%;
    color: #333737;
    /*background-color: #eef;*/
    /*text-shadow: 4px 4px 3px rgba(0,0,0,0.1);*/
    /*text-transform: uppercase;*/
    text-align: left;
    /*text-decoration: none;*/
}
.index-left a:link {
}
.index-left a:visited {
    color: inherit;
}
.index-left p {
    margin-top: 0;
    text-align: left;
}
.index-date {
    font-family:'PT Mono', monospace;
    font-size: 80%;
    color: darkgray;
}