<div class="my-div-top">

<div class="my-inline-left pull-left">
  <div class="heading">
    <div class="thumb my-inline-left pull-left">
      <a href="/"><img src="{{ site.thumb }}" /></a>
    </div>
    <div class="title">
    {{ page.title }}
    </div>
  </div> 
  <div class="static-link social-media">
    <a href="https://plus.google.com/b/104576278582444149019/104576278582444149019/posts"><i class="fa fa-google-plus-square fa-2x fg-google-plus"></i></a> <a href="https://www.facebook.com/pages/Filii-Dei/693453224096282"><i class="fa fa-facebook-square fa-2x fg-facebook"></i></a> <a href="https://twitter.com/f1l11d31"><i class="fa fa-twitter-square fa-2x fg-twitter"></i></a> <a href="https://www.pinterest.com/f1l11d31"><i class="fa fa-pinterest-square fa-2x fg-pinterest"></i></a> <a href="https://github.com/f1l11d31"><i class="fa fa-github-square fa-2x fg-github"></i></a> <a href="https://bitbucket.org/f1l11d31"><i class="fa fa-bitbucket-square fa-2x fg-bitbucket"></i></a> <a href="https://www.flickr.com/people/130249524@N02/"><i class="fa fa-flickr fa-2x fg-flickr"></i></a> <a href="http://f1l11d31.github.io/feed.xml"><i class="fa fa-rss-square fa-2x fg-rss"></i></a>
  </div>
</div>
