<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta http-equiv="cleartype" content="on" />
<title>{{ page.title }}</title>
<meta name="mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="author" content="{{ site.author }}" />
<!-- Pinterest website verification -->
<meta name="p:domain_verify" content="597c9d4ef8251ef6e584a49f5b75bd35"/>
<link rel="apple-touch-icon" href="{{ site.url }}/icon-196x196.png" />
<link rel="apple-touch-icon-precomposed" href="{{ site.url }}/icon-196x196.png" />
<link rel="shortcut icon" href="{{ site.url }}/icon-196x196.png" />
<link rel="icon" href="{{ site.url }}/icon-196x196.png" />
<link rel="alternate" href="{{ site.url }}/feed.xml" type="application/atom+xml" />
<link rel="stylesheet" href="/css/animate.min.css" type="text/css" />
<link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" />
<meta name="description" content="{{ page.tweet }}" />
